{
  "description": "SIP WOCK STAY FADED💯💯🙏",
  "image": "ipfs://$IPFS_CID",
  "external_url": "https://pintswap.eth.limo",
  "name": "WOCK ($TOKEN_ID)",
  "attributes": [],
  "background_color": "FFFFFF"
} 
